html,body{min-height:100%;height:100%}
body{margin:0;font:normal 12px Arial,'Arial','\5b8b\4f53'}
body>div{margin-right:auto;margin-left:auto}
h1,h2,h3,h4,h5,h6,p,ul,li{margin:0px;padding:0;text-align:left}
img{border:0;margin:0;background:none}
form{margin:0px;padding:0px}
input,select{font-size:12px;vertical-align:middle}
a,table,div,p,ul,li,td,pre,dt,dd,select,input,textarea{font:normal 12px 'Arial','\5b8b\4f53';color:#3b4247}
a{text-decoration:none;color:#464645;font:normal 12px 'Arial','\5b8b\4f53'}
a:hover{text-decoration:none;color:#3b4247}
a.noline{text-decoration:none}
dd,dt,dl{padding:0;margin:0;text-indent:0}
li{list-style:none}
.fleft{float:left}
.fright{float:right}
.fclear{clear:both;overflow:hidden;height:0}
.tleft{text-align:left}
.tright{text-align:right}
.tcenter{text-align:center}
.big{font-size:14px}
.orange{color:#FF6600}
.red{color:#cb1500}
.white{color:White}
.green{color:Green}
.blue{color:#3366CC}
.bold{font-weight:bold}
.black{color:#000}
.yellow{color:Yellow}
.absolute{position:absolute}
.relative{position:relative}
.hide{display:none}
.show{display:block}
.hand{cursor:pointer}
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.hred{color:#C41D0A}
.over{overflow:hidden;zoom:1}
.hide{display:none;}
.show{display:block;}
.underline{text-decoration:underline}
.b5{margin-bottom:5px}
.b10{margin-bottom:10px}
.b15{margin-bottom:15px}
.b20{margin-bottom:20px}
.t5{margin-top:5px}
.t10{margin-top:10px}
.t15{margin-top:15px}
.t20{margin-top:20px}
.ml20{margin-left:20px}
.mr20{margin-right:20px}
.gray{color:#999}
.clearfix{clear:both}